{% load staticfiles %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
      href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'ico/apple-touch-icon-57-precomposed.png' %}">
<link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">
<title>E-SHOP</title>
<!-- Bootstrap core CSS -->
<link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

<script>
    paceOptions = {
        elements: true
    };
</script>

<script src="{% static 'assets/js/pace.min.js' %}"></script>

