{% load staticfiles %}

<!-- Fixed navbar start -->
<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li><a href="#"> <span class="hidden-xs">CONTACTO</span><i
                                    class="glyphicon glyphicon-info-sign hide visible-xs "></i> </a></li>
                            <li class="phone-number"><a href="callto:+12025550151"> <span> <i
                                    class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs"
                                                                                             style="margin-left:5px"> +1-202-555-0151 </span>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            {% if user.is_authenticated %}
                                <li><a href="/sales/"><span class="hidden-xs">Mi lista de pedidos</span> <i
                                        class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                                <li><a href="/users/wishlist"><span class="hidden-xs">Mi lista de deseos</span> <i
                                        class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                                <li><a href="/users/logout/"><span class="hidden-xs"> logout</span> <i
                                        class="glyphicon glyphicon-user hide visible-xs "></i></a></li>

                            {% else %}
                                <li>
                                    <a href="{% url 'account_login' %}"> <span class="hidden-xs">Login</span>
                                        <i class="glyphicon glyphicon-log-in hide visible-xs "></i> </a></li>
                                <li class="hidden-xs">
                                    <a href="{% url 'account_signup' %}"> Crear cuenta </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                    class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <a class="navbar-brand " href="/"> <img src="{% static 'images/logo.png' %}" alt="TSHOP"> </a>

            <!-- this part for mobile -->
            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>
                </div>
                <!-- /input-group -->

            </div>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"> Home </a></li>
                <li class="dropdown megamenu-fullwidth">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        Categorias<b class="caret"> </b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="megamenu-content ">
                            {% for categoria in categories %}
                                <ul class="col-lg-3  col-sm-3 col-md-3 unstyled noMarginLeft newCollectionUl">
                                    <li class="no-border">
                                            <p class="promo-1"><strong>  {{ categoria.name }} </strong></p>
                                    </li>
                                    {% for sub in categoria.subcategories.all %}
                                        <li>
                                            <a href="/categories/{{ sub.slug }}/products/">{{ sub.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </li>
                    </ul>
                </li>


            </ul>

            <!--- this part will be hidden for mobile version -->
{#            <div class="nav navbar-nav navbar-right hidden-xs">#}
{##}
{#                <div class="search-box">#}
{#                    <div class="input-group">#}
{#                        <button class="btn btn-nobg getFullSearch" type="button"><i class="fa fa-search"> </i></button>#}
{#                    </div>#}
{#                    <!-- /input-group -->#}
{#                </div>#}
{#                <!--/.search-box -->#}
{#            </div>#}
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->

    <div class="search-full text-right"><a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>

        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="start typing and hit enter to search"
                   class="search-input">
            <button class="btn-nobg search-btn" type="submit"><i class="fa fa-search"> </i></button>
        </div>
    </div>
    <!--/.search-full-->

</div>
<!-- /.Fixed navbar  -->

