@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/Lato-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/Lato-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'lato-light';
    src: url('../fonts/Lato-Light.ttf')format('truetype');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/Montserrat-Bold.ttf')format('truetype');
}
@font-face {
  font-family: 'montserrat-medium';
  src: url('../fonts/Montserrat-Medium.ttf')format('truetype');
}
@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/Montserrat-Regular.ttf')format('truetype');
}
@font-face {
    font-family: 'montserrat-light';
    src: url('../fonts/Montserrat-Light.ttf')format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MaterialIcons-Regular.eot');
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../fonts/MaterialIcons-Regular.woff') format('woff'), url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
