.content-change{
  height:100%;
  width:100%;
  background-color:$background;
  position:absolute ;
  .box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:470px;
    width:420px;
    background-color:$box-login;
    border-radius:20px;
    .wrapper{
      width:88%;
      margin:0 auto;
      text-align: center;
      .title{
        font-size:50px;
        color:$yellow;
        font-weight:bold;
        margin-top:70px;
        margin-bottom:20px;
      }
      .cmp-input-txt--login{
        margin-top:10px;
        border:2px solid #E4E4E4;
        &:focus{
          border:2px solid $yellow;
        }
      }
      .cmp-input-btn--login{
        margin-top:60px;
        font-weight:bold;
        font-size:20px;
        &:hover{
              background-color: #A89A38;
              border:2px solid #A89A38;
        }
      }

    }
  }
}
