.content-login {
    height: 100%;
    width: 100%;
    background-color: $background;
    position: absolute;

    .login-header {
        .login-header__logo {
            height: 35px;
            margin: 0 auto;
        }
    }
}

.loginBox {
    max-width: 90%;
    width: 500px;
}

.stretch input {
    width: 100%;
}

.loginBox {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login__header {
    background-color: #272733;
}

.login-cont__btn {
    padding-top: 20px;
}

.layout {
    height: 100%;
    width: 100%;

    .layout__content {
        height: 100%;
        width: 100%;
    }
}

.cont-login2 {
    width: 100%;
    height: 100%;
    // background-image: url("../../../images/app/wallhaven-327570.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background-color: #2f2f2f;
    position: relative;

    .cont-login2__wrapper {
        box-shadow: 0 0 50px #000;
        overflow: hidden;
        position: absolute;
        background-color: rgba(#000,0.6);
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
        height: 80%;
        width: 80%;
        border-radius: 20px;

        .wrapper__cont-logo {
            float: left;
            width: 50%;
            height: 100%;
            position: relative;

            .cont-logo__logo {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                // width: 80%;
                font-size: 75px;
                color: #DDCD0E;
                font-weight: bold;
                text-align: center;
            }
        }

        .wrapper__cont-auth {
            overflow: hidden;
            background-color: #FAFAFA;
            float: right;
            height: 100%;
            position: relative;
            width: 50%;

            form {
                width: 350px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                md-content {
                    .form__icon {
                        text-align: center;
                        color: #A8A8A8;

                        font-size: 60px;
                        margin-bottom: 10px;
                    }

                    md-input-container {
                        // padding-left: 15px;
                        margin: 0;

                        input {
                            // border-radius: 20px;
                            padding: 15px;
                            height: 40px;
                            border-bottom: 1px solid #A8A8A8;
                            // text-transform: uppercase;
                        }
                        .md-input-messages-animation{
                          .md-input-message-animation{
                            padding-left: 15px;
                          }
                        }
                    }

                    .layout {
                      display: initial;

                        .form__button {
                          margin: auto;
                            width: 50%;
                            display: block;
                            // border-radius: 20px;
                            padding: 0;
                            height: 40px;
                            background-color: #DDCD0E;
                            // background: -webkit-linear-gradient(left top, #af9f6c, yellow);
                            // background: -o-linear-gradient(bottom right, #af9f6c, yellow);
                            // background: -moz-linear-gradient(bottom right, #af9f6c, yellow);
                            // background: linear-gradient(to bottom right, #af9f6c, yellow);
                        }

                        .form__link {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
