<ul class="content__module-subPanel">
    <!-- <li class="personal-subPanel__item--title">
        <span class="item__title ">Importaciones masivas</span>
    </li> -->
    <li class="personal-subPanel__item" ng-click="import($event)" >
      <a href="" layout layout-align="space-between center">

        <span class="item__vertical-line "></span>
        <i class="item__icon material-icons">cloud_upload</i>
        <span class="item__title">Importar Actividades</span>
      </a>
    </li>
</ul>
